:root {
  --color-primary: #00204a;
  --white: #ffff;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.548),
      rgba(0, 0, 0, 0.548)
    ),
    url("/src/components/Hero/Headerimg.jpeg");
  position: relative;
  height: max(50vh, 500px);
}
.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroText > h2 {
  font-weight: bolder;
  color: var(--white);
  font-size: 3rem;
}
.heroText input,
.heroText button {
  border-radius: none !important;
}
